:root {
  --btn-clr-width: 150px;
  --btn-clr-height: 100px;
  --blue-light-neon: #00f3ff;
}

body {
  background-color: rgb(0, 11, 10);
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: 2px solid var(--blue-light-neon);
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0;
}

.title h1 {
  margin: 0;
}

.red-button {
  width: var(--btn-clr-width);
  height: var(--btn-clr-height);
  color: white;
  background-color: red;
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.blue-button {
  width: var(--btn-clr-width);
  height: var(--btn-clr-height);
  color: white;
  background-color: rgb(0, 123, 255);
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.green-button {
  width: var(--btn-clr-width);
  height: var(--btn-clr-height);
  color: white;
  background-color: rgb(102, 255, 0);
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.yellow-button {
  width: var(--btn-clr-width);
  height: var(--btn-clr-height);
  color: white;
  background-color: rgb(255, 217, 0);
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.final-button {
  width: 220px;
  height: var(--btn-clr-height);
  color: white;
  background-color: rgb(0, 11, 10);
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.lightshow-button {
  width: 220px;
  height: var(--btn-clr-height);
  color: white;
  background-color: rgba(70, 86, 83, 0.53);;
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
}

.alert-button {
  width: 220px;
  height: var(--btn-clr-height);
  color: white;
  background-color: rgba(171, 20, 20, 0.53);
  border: 2px solid var(--blue-light-neon);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
}

.container-colors {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; 
}

.container-final {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

footer {
  border-top: 2px solid var(--blue-light-neon);
  margin-top: 2rem;
}

.container-author {
  text-align: center;
  color: rgb(0, 70, 63);;
}

footer p {
  margin-top: 1rem;
}