<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prueba de Arduino</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/slate.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'master.css' %}" rel="stylesheet">
  </head>
  <body>
    <main class="container">
      <div class="title">
        <h1>SmartDuino</h1>
      </div>
      <div class="container-colors">
        <div class="">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="1" name="id">
            <button class="red-button">Red LED</button> <br>
          </form>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="2" name="id">
            <button class="blue-button">Blue LED</button> <br>
          </form>
        </div>
          <div class="">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" value="3" name="id">
              <button class="green-button">Green LED</button> <br>
            </form>
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" value="4" name="id">
              <button class="yellow-button">Yellow LED</button> <br>
            </form>
          </div>
      </div>
      <div class="container-final">
        <div class="">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="5" name="id">
            <button class="final-button">Turn OFF all</button> <br>
          </form>
          <form method='POST'>
            {% csrf_token %}
            <input type="hidden" value="6" name="id">
            <button class="final-button">Turn ON all</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div class="container-author">
        <p>Christopher Chantres</p>
        <p>TEJM4U CPT</p>
      </div>
    </footer>
    <!-- Custom Scripts -->
    <script src="{% static 'js/master.js' %}"></script>
  </body>
</html>